@charset "UTF-8";
@media (max-width: 768px) {
  body {
    background-image: url(../assets/pictures/spraysky.jpg);
    font-family: "Klee One", cursive;
  }
  body header nav {
    background-color: lightgreen;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
  }
  body header nav .menu-popout {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  body header nav .menu-popout .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  body header nav .menu-popout .menu-container .menu-object {
    padding: 0 10px;
  }
  body header nav #shopping-cart {
    display: flex;
    align-items: center;
  }
  body .welcome-title {
    font-size: 3rem;
    margin-top: 2rem;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/pictures/spraysky.jpg);
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(../assets/pictures/spraysky.jpg);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0; /* Ta bort standardmarginalen för body- inga fula mellanrum */
  font-family: "Klee One";
  position: relative; /*  */
}
body header { /*  */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /*  */
}
body header nav {
  background-color: rgb(14, 63, 82);
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed; /* Navbaren följer med vid scrollning */
  top: 0;
}
body header nav .menu-popout {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
body header nav .menu-popout .menu-container {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
body header nav .menu-popout .menu-container .menu-object {
  padding: 0 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
body header nav #shopping-cart {
  display: flex;
  align-items: center;
}

main {
  /*  */
  /*      display: flex;
          flex-direction: column;
          align-items: center; */
  /*  */
  position: relative;
}
main .home-section {
  min-height: calc(100vh - 4rem);
  background-image: url("../assets/pictures/spraysky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
main .spray-section {
  min-height: 100vh;
  background-color: rgb(29, 44, 50);
  background-image: url("../assets/pictures/spraysky.jpg");
  background-size: cover;
  color: white;
  padding: 10%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
main #sprayCansForSale {
  background-color: white;
  color: rgb(57, 56, 56);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
main #sprayCansForSale article {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: calc(33.333% - 40px);
}
main #sprayCansForSale img {
  max-width: 80%;
  height: auto;
}

.welcome-title {
  font-size: 8rem;
  margin-top: 2rem;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  z-index: 1;
}

.menu-object a:visited {
  text-decoration: none;
}

.cart-section {
  background-image: url("/assets/pictures/spraysky.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}
.cart-section article.cart-item {
  background-color: rgba(225, 225, 225, 0.2);
  display: flex;
  width: 40%;
  margin: 2rem;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.cart-section article.cart-item img {
  align-items: center;
  max-width: 100px;
  height: auto;
  border-radius: 100px;
}
.cart-section article.cart-item h3 {
  margin: 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.cart-section .total {
  margin-top: 20px;
}
.cart-section .total h3 {
  font-size: 1.5em;
  text-align: center;
}

.cart-item-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item-details h3 {
  margin: 0 0 10px 0;
}

.customer-details {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Lägg till en subtil skugga för att lyfta fram formuläret */
}

#customerDetails {
  max-width: 400px; /* Justera maximal bredd efter behov */
  width: 100%;
  text-align: center;
}

#customerDetails form {
  display: flex;
  flex-direction: column;
}

#customerDetails form label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#customerDetails form input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#customerDetails form input[type=button] {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(14, 63, 82);
  color: white;
  cursor: pointer;
}

#customerDetails form input[type=button]:hover {
  background-color: rgb(0, 41, 54);
}/*# sourceMappingURL=style.css.map */